{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{user.profile.image.url}}" width="200px" height="150px">
            <div class="media-body">
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{user.email}}</p>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
<!--            {{form.as_p}}-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{u_form.as_p}}
                {{p_form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
    <h1>{{user.username}}</h1>
{% endblock content %}